extends layout

h1= title
block content
  .article
    .created_at= article.created_at
    .title= article.title
    .body= article.body
    - each comment in article.comments
      .comment
        .person= comment.person
        .comment= comment.comment
    div
      form(method="post", action="/blog/addComment")
        input(type="hidden", name="_id", value=article._id)
        div
          span Author:
          input(type="text", name="person", id="addCommentPerson")
        div
          span Comment:
          textarea(name="comment", id="addCommentComment")
        div#editArticleSubmit
          input(type="submit", value="Send")